.hf-listbox {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-height: 320px;
    overflow: auto;
}

.hf-listbox-item {
    display: flex;
    align-items: center;
    gap: 8px;
}
