.cancel-po-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cancel-po-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.cancel-po-icon {
    width: 32px;
    height: 32px;
}

.cancel-po-text {
    width: 100%;
}
