.hf-checkbox[b-6cvz5yb57b] {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: inherit;
}

.hf-checkbox input[type="checkbox"][b-6cvz5yb57b] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.hf-checkbox-label[b-6cvz5yb57b] {
    user-select: none;
}
