.grid-input[b-ewqgiztmh5] {
    width: 100%;
    padding: 2px 4px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
}

.comments-textarea[b-ewqgiztmh5] {
    width: 100%;
    min-height: 200px;
    padding: 8px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}

.tax-field-input[b-ewqgiztmh5] {
    width: 120px;
}
